src/eseo/hotel/clientws/GestionHotelsPort.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://sw.eseo/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="GestionHotelsService" targetNamespace="http://sw.eseo/">
  <wsdl:types>
<schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://sw.eseo/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://www.w3.org/2001/XMLSchema">
  <import namespace="http://sw.eseo/" schemaLocation="http://127.0.0.1:8085/services/GestionHotelsPort?xsd=gestionhotels_schema1.xsd"/>
</schema>
  </wsdl:types>
  <wsdl:message name="annulerChambre">
    <wsdl:part element="tns:annulerChambre" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="payerChambreResponse">
    <wsdl:part element="tns:payerChambreResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="reserverChambre">
    <wsdl:part element="tns:reserverChambre" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="trouverChambre">
    <wsdl:part element="tns:trouverChambre" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="reserverChambreResponse">
    <wsdl:part element="tns:reserverChambreResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="trouverChambreResponse">
    <wsdl:part element="tns:trouverChambreResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="payerChambre">
    <wsdl:part element="tns:payerChambre" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="annulerChambreResponse">
    <wsdl:part element="tns:annulerChambreResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="GestionHotelsSEI">
    <wsdl:operation name="payerChambre">
      <wsdl:input message="tns:payerChambre" name="payerChambre">
    </wsdl:input>
      <wsdl:output message="tns:payerChambreResponse" name="payerChambreResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="annulerChambre">
      <wsdl:input message="tns:annulerChambre" name="annulerChambre">
    </wsdl:input>
      <wsdl:output message="tns:annulerChambreResponse" name="annulerChambreResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reserverChambre">
      <wsdl:input message="tns:reserverChambre" name="reserverChambre">
    </wsdl:input>
      <wsdl:output message="tns:reserverChambreResponse" name="reserverChambreResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="trouverChambre">
      <wsdl:input message="tns:trouverChambre" name="trouverChambre">
    </wsdl:input>
      <wsdl:output message="tns:trouverChambreResponse" name="trouverChambreResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GestionHotelsServiceSoapBinding" type="tns:GestionHotelsSEI">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="payerChambre">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="payerChambre">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="payerChambreResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="annulerChambre">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="annulerChambre">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="annulerChambreResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reserverChambre">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="reserverChambre">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="reserverChambreResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="trouverChambre">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="trouverChambre">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="trouverChambreResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GestionHotelsService">
    <wsdl:port binding="tns:GestionHotelsServiceSoapBinding" name="GestionHotelsPort">
      <soap:address location="http://127.0.0.1:8085/services/GestionHotelsPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>